<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ごみ情報修正</title>
</head>
<body>
    <!-- エラー　-->
    {% if e == "7" %}
    <p style="color: red;">修正失敗</p>
    {% endif %}
    <form action="{{ url_for('m_trash_modify') }}" method="post">
        ID:<input type="text" name="GarbageID"><br>
        名前:<input type="text" name="GarbageName">
        種類:<input type="text" name="Separation">
        分別方法:<input type="text" name="Category"><br>
        <input type="submit" value="修正">
    </form>
</body>
</html>