<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>リサイクル製品紹介</title>
</head>
<body>
    <h1>リサイクル製品紹介</h1>
    <form action="{{ url_for('recycle') }}">
        <table class="table table-striped">
            <tr>
                <td class="col-2">ID</td>
                <td class="col-3">リサイクル製品名</td>
                <td class="col-3">ごみの名前</td>
                <td class="col-5">製品紹介</td>
            </tr>
            {% for recycle in recycle %}
            <tr>
                <td>{{ recycle.RecycleID}}</td>
                <td>{{ recycle.RecycleName }}</td>
                <td>{{ recycle.fk_GarbageID }}</td>
                <td>{{ recycle.RecycleText }}</td>
                <td>
                    
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <a href="{{url_for('top_page')}}">利用者メニューへ</a>
    </form>
    
</body>
</html>