{% extends "template.html" %}
{% block content %}
<div class="lap">
    <h3 class="m-tr-entry">ごみ情報修正</h3>
    <div class="box2">
        <!-- エラー　-->
        {% if e == "7" %}
        <p style="color: red;">修正失敗</p>
        {% endif %}
        <a href="{{ url_for('m_trash_list')}}" class="modoru">戻る</a>
        <a href="{{ url_for('m_index')}}" class="logout2">ログアウト</a><br>
        <form action="{{ url_for('m_trash_modify') }}" method="post">
            <input type="number" name="GarbageID" placeholder="修正したいIDの入力" class="modbox1"><br>
            <input type="text" name="GarbageName" placeholder="名前" class="modbox2">
            <input type="text" name="Separation" placeholder="種類" class="modbox2">
            <input type="text" name="Category" placeholder="分別方法" class="modbox2"><br>
            <input type="submit" value="修正" class="entrybtn">
        </form>
    </div>
</div>
{% endblock %}