<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録ごみ情報一覧</title>
</head>
<body>
    <h1>Flask APP</h1>
    <form action="{{ url_for('m_trash_list') }}">
        <table class="table table-striped">
            <tr>
                <td class="col-2">ID</td>
                <td class="col-3">ごみの名前</td>
                <td class="col-3">ごみの種類</td>
                <td class="col-5">分別方法</td>
            </tr>
            {% for trash_list in trash_list %}
            <tr>
                <td>{{ trash_list.GarbageID}}</td>
                <td>{{ trash_list.GarbageName }}</td>
                <td>{{ trash_list.Separation }}</td>
                <td>{{ trash_list.Category }}</td>
                <td>
                    
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{url_for('m_trash_entry')}}">ごみ情報登録</a>
        <a href="{{url_for('m_trash_delete')}}">ごみ情報削除</a>
    </form>
    
</body>
</html>