{% extends "template.html" %}
{% block content %}
<div class="lap">
    <h3 class="m-tr-entry">ごみ情報削除</h3>
    <div class="box2">
        <!-- エラー　-->
        {% if e == "6" %}
        <p style="color: red;">削除失敗</p>
        {% endif %}
        <a href="{{ url_for('m_trash_list')}}" class="modoru">戻る</a>
        <a href="{{ url_for('m_index')}}" class="logout2">ログアウト</a><br>
        <form action="{{ url_for('m_trash_delete') }}" method="post">
            <input type="number" name="GarbageID" placeholder="削除したいIDを入力して下さい" class="delbox"><br>
            <input type="submit" value="削除" class="entrybtn">
        </form>
    </div>
</div>
{% endblock %}