{% extends "template.html" %}
{% block content %}
<div class="lap">
    <h2 class="topmenu">利用者メニュー</h2>
    <div class="topbox">
        <a href="{{ url_for('index')}}" class="toplogout">ログアウト</a><br>
        <div class="wrapper grid">
            <div class="item">
                <a href="{{ url_for('search')}}" class="btn2"><img src="static/trash.jpg" height ="50" width="50" /><br>
                    捨て方一覧・検索
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('favorite')}}" class="btn2"><img src="static/star.jpeg" height ="50" width="50" /><br>
                    お気に入り登録一覧
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('map')}}"class="btn2"><img src="static/map.png" height ="50" width="50" /><br>
                    リサイクル回収場所マップ
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('calender')}}" class="btn2"><img src="static/calender.jpg" height ="50" width="50" /><br>
                    収集日カレンダー
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('recycle')}}" class="btn2"><img src="static/recycle.png" height ="50" width="50" /><br>
                    リサイクル製品紹介
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('quize')}}"class="btn2" ><img src="static/quiz.jpeg" height ="50" width="50" /><br>
                    分別クイズ
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}