{% extends "template.html" %}
{% block content %}
<div class="lap">
    {% if e == "1" %}
    <div class="loginerr">
        <h2>エラー</h2>
        <p>IDまたはパスワードが正しくありません！</p>
        <p>もう一度入力して下さい！</p>
    </div>
    {% endif %}
    <h3 class="m-login">利用者ログイン</h3>
    <div class="u-box">
        <form action="#" method="post">
            <input type="text" name="u_id" class="m-text" placeholder="ログインID"><br>
            <input type="password" name="pw" class="m-text" placeholder="パスワード"><br>
            <input type="submit" class="m-btn" value="ログイン">
        </form>
        <a href="{{ url_for('entry')}}">新規ユーザ登録</a>
    </div>
</div>
{% endblock %}