{% extends "template.html" %}
{% block content %}
<div class="lap">
    <h3 class="m-tr-list">リサイクル製品紹介</h3>
    <div class="box2">
        <a href="{{url_for('index')}}" class="logout1">ログアウト</a><br>
        <form action="{{ url_for('recycle') }}">
            <table class="table table-bordered table-striped he-table">
                <thead>
                    <tr class="bg-table">
                        <td>ID</td>
                        <td>リサイクル製品名</td>
                        <td>ごみの名前</td>
                        <td>製品紹介</td>
                    </tr>
                </thead>
                <tbody class="tr-body">
                    {% for recycle in recycle %}
                    <tr>
                        <td>{{ recycle.RecycleID}}</td>
                        <td>{{ recycle.RecycleName }}</td>
                        <td>{{ recycle.fk_GarbageID }}</td>
                        <td>{{ recycle.RecycleText }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{url_for('top_page')}}">利用者メニューに戻る</a>
        </form>
    </div>
</div>
{% endblock %}