<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ごみ一覧</title>
</head>
<body>
    <h1>Flask APP</h1>
    <form action="{{ url_for('u_tr_list') }}">
        <table class="table table-striped">
            <tr>
                <td class="col-2">ID</td>
                <td class="col-3">ごみの名前</td>
                <td class="col-3">ごみの種類</td>
                <td class="col-5">収集に出す際の条件等</td>
            </tr>
            {% for u_tr_list in u_tr_list %}
            <tr>
                <td>{{ u_tr_list.GarbageID}}</td>
                <td>{{ u_tr_list.GarbageName }}</td>
                <td>{{ u_tr_list.Separation }}</td>
                <td>{{ u_tr_list.Category }}</td>
                <td>
                    
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <a href="{{url_for('top_page')}}">利用者メニューへ</a>
    </form>
    
</body>
</html>